.navbar {
	background-color: #17171D;
	opacity: 0.9;
}
.navbar-toggler-icon {
	color: #FCF3DC;
}
.border {
	display: inline-block;
}
.active {
	color: #DC4523!important;
}
ul li a {
	color: #FCF3DC!important;
	font-family: 'Raleway', sans-serif;
}
h1 {
	color: #FCF3DC;
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	padding-top: 150px;
}
.p0 {
	color: #FCF3DC;
	font-size: 17px;
	line-height: 28px;
	padding-top: 30px;
	box-sizing: border-box;
	border: 0;
}
#btn2 {
	font-family: 'Raleway', sans-serif;
	padding: 13px;
	background-color: #DC4523; 
	color: #FCF3DC;
	margin-top: 30px;
	display: block;
}
.home-content {
	background-color: #17171D;
}
.about-content {
	background-color: #17171D;
}
h2 {
	color: #FCF3DC;
	font-size: 60px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	padding-top: 100px;
}
p.p1 {
	font-family: 'Raleway', sans-serif;
	color: #FCF3DC;
	font-size: 14px;
	font-weight: 700;
	line-height: 27px;
	text-align: center;
	box-sizing: border-box;
	border: 0;
	padding-top: 50px;
}
p.p2 {
	font-family: 'Raleway', sans-serif;
	color: #FCF3DC;
	font-size: 14px;
	line-height: 27px;
	text-align: center;
	box-sizing: border-box;
	border: 0;
}
#btn3 {
	font-family: 'Raleway', sans-serif;
	padding: 13px;
	background-color: #DC4523; 
	color: #FCF3DC;
	border: 0;
	margin-top: 20px;
	display: block;
}
*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
.d-menu {
	color: #DE4623;
	font-size: 85px;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
}
h1.d-menu {
	padding-top: 50px;
}
.lead {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 30px;
}
.menu-section-one {
	background-color: #17171D;
}

.menu-section-two {
	background-color: #FCF3DC;
	padding: 95px;
	
}
.span {
	float: right;
	margin: 10px 21px;
	color: #DE4623;
}
.foodname {
	color: #DE4623;
	font-size: 60px;
	line-height: 66px;
	font-weight: 700;
	letter-spacing: 0px;
	font-family: 'Helvetica';
}
button.btn.text-center.btn-block {
	background-color: #DE4623;
}
.modal-content {
	background-color: #DE4623;
	opacity: 0.9;
	
}

.responsive{
	width: 100%;
	max-width: 400px;
	height: auto;
}
.gallery-section-one {
	background-color: #17171D;
}
.gallery-section-two {
	background-color: #FCF3DC;
	padding: 95px;
}
.order-section-one{
	background-color: #FCF3DC;
	padding: 95px;
}
.customer-content {
	background-color: #17171D;
}
.h2c {
	font-family: font-family: 'Raleway', sans-serif;
	color: #FCF3DC;
	font-size: 60px;
	font-weight: 700;
	line-height: 66px;
	padding-top: 50px;
	text-align: center;
}
i.fas.fa-star {
	color: #DC4523;
	padding-top: 150px;
}
p.pc {
	color: #FCF3DC;
	font-size: 17px;
	line-height: 28px;
	padding-top: 0;

}
img:hover {
		opacity: 0.7;
}

img.mx-auto.d-block {
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.parac {
	text-align: center;
}
.ic {
	color: #FCF3DC;
}
.carousel-inner {
	height: 350px;
	background-color: #0F0F14;
	margin-top: 80px;
	margin-bottom: 60px;
}
.carousel-item {
	padding-top: 100px;
}
.contact-secction {
	background-color: #FCF3DC;
	padding-bottom: 80px;
}
.contact-content {
	padding-top: 100px;
}
p.pcs {
	color: #000000;

}
.cl {
	height: 300px;
	width: 300px;
	display: block;
}
hr {
	margin-top: 0;
	margin-bottom: 0;
	opacity: 0.2;
}
.footer-section {
	background-color: #FCF3DC;
}
.footer-content {
	padding-top: 20px;
	padding-bottom: 20px;
}